body {
    margin: 0;

}

#container {
    padding: 15px;
}

header {
    background-color: black;
    padding: 30px 20px;
}

header h1 {

    color: white;
}

.title {

    font-family: 'bold';
}

.person-button {
    background-color: blue;
    color: white;
    font-size: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-family: 'bold';
}

.person-button:hover {

    background-color: rgb(20, 20, 84);
}

li {

    font-family: 'regular';

}